body {
	background: #e3c200;
}

#title {
	margin-top:20px;
	font-size: 5em;
	font-weight: 100;
	text-align: center;
	color: white;
}

#tagline {
	font-size: 0.3em;
}

#register {
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
}